.about{
    margin-top: 30px;
    padding: 40px;
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.about::before { 
    content: "";
    background: center/cover no-repeat url('../../images/about.jpeg');  
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .4;
    z-index: -1;
}
