.contact{
    background-color: rgb(250, 246, 184);
}
h3{
    padding: 10px;
    margin:20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
h1{
    
}

.icon1{
    font-size: 60px;
    color: rgb(18, 41, 250);
}
.icon2{
    font-size: 60px;
    color: rgb(139, 240, 8);
}
.icon3{
    font-size: 60px;
    color: rgb(252, 16, 16);
}
.icon4{
    font-size: 60px;
    color: rgb(16, 217, 252);
}