.signin{
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%,0);
    border:2px solid black;
    width:10%;
    background-color: black;
    color: white;
    cursor: pointer;
}
.signin:hover{
    background-color: rgb(119, 111, 111); 
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    
    color: white;
}